<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="inertial_macros.xacro"/>

  <!-- Robot's base properties -->
  <xacro:property name="base_length" value="0.21"/>
  <xacro:property name="base_width" value="0.11"/>
  <xacro:property name="base_height" value="0.035"/>

  <!-- Robot's wheel properties -->
  <xacro:property name="wheel_radius" value="0.0325"/>
  <xacro:property name="wheel_height" value="0.025"/>
  <xacro:property name="wheel_mass" value="0.031"/>

  <!-- Distance between centre of wheel and robot base -->
  <xacro:property name="wheel_zoff" value="0.0125"/>

  <link name="base_footprint"/> 

   <joint name="base_joint" type="fixed">
     <parent link="base_footprint"/>
     <child link="base_link"/>
     <origin xyz="-0.076 0 ${(wheel_radius + wheel_zoff / 2)}" rpy="0 0 0"/>
   </joint>
  
  <!-- Robot base chasis-->
  <link name="base_link">
      <visual>
        <origin xyz="${base_length/2} 0 ${-wheel_zoff}" rpy="0 0 0"/>
          <geometry>
              <!-- [简化] 使用 Box 代替 Mesh -->
              <box size="${base_length} ${base_width} ${base_height}"/>
          </geometry>
          <material name="white">
            <color rgba="1 1 1 1"/>
          </material>
      </visual>
      <collision>
        <origin xyz="${base_length/2} 0 ${-wheel_zoff}" rpy="0 0 0"/>
        <geometry>
          <box size="${base_length} ${base_width} ${base_height}"/>
        </geometry>
      </collision>

    <!-- Caster mount -->
      <visual name="caster_mount_visual">
          <origin xyz="0.0185 0 -0.0475" rpy="0 0 0"/>
        <geometry>
          <!-- [简化] 使用 Cylinder 代替 Mesh -->
          <cylinder radius="0.023" length="0.0125"/>
        </geometry>
        <material name="grey">
            <color rgba="0.5 0.5 0.5 1"/>
        </material>
      </visual>
      <collision name="caster_mount_collision">
        <origin xyz="0.0185 0 -0.005" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.023" length="0.0125"/>
        </geometry>
      </collision>

      <!-- Rpi stand -->
      <visual name="rpi_4_stand_visual">
        <origin xyz="0.045 0 0.017" rpy="0 0 0"/>
          <geometry>
             <!-- [简化] 使用 Box 代替 Mesh -->
             <box size="0.09 0.06 0.03"/>
          </geometry>
          <material name="black">
            <color rgba="0 0 0 1"/>
          </material>
      </visual>
      <collision name="rpi_4_stand_collision">
        <origin xyz="0.045 0 0.017" rpy="0 0 0"/>
        <geometry>
          <box size="0.09 0.06 0.03"/>
        </geometry>
      </collision>

      <!-- Rpi 4 -->
      <visual name="rpi_4_visual">
        <origin xyz="0.045 0 0.042" rpy="0 0 0"/>
          <geometry>
              <!-- [简化] 使用 Box 代替 Mesh -->
              <box size="0.085 0.056 0.005"/>
          </geometry>
          <material name="green">
            <color rgba="0 0.8 0 1"/>
          </material>
      </visual>
      <collision name="rpi_4_collision">
        <origin xyz="0.045 0 0.042" rpy="0 0 0"/>
        <geometry>
          <box size="0.085 0.056 0.005"/>
        </geometry>
      </collision>

      <xacro:box_inertia mass="1.0" length="${base_length}" width="${base_width}" height="${base_height}">
        <origin xyz="${base_length/2} 0 ${-wheel_zoff}" rpy="0 0 0"/>
      </xacro:box_inertia>
  </link>

  <!-- Robot Footprint -->
  <link name="base_footprint_link">
  </link>

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Wheels -->
  <xacro:macro name="wheel" params="prefix x_reflect y_reflect">
    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
            <!-- [简化] 使用 Cylinder 代替 Mesh -->
            <cylinder radius="${wheel_radius}" length="${wheel_height}"/>
        </geometry>
        <material name="black">
            <color rgba="0 0 0 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_height}"/>
        </geometry>
      </collision>

      <xacro:cylinder_inertia mass="${wheel_mass}" length="${wheel_height}" radius="${wheel_radius}">
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
      </xacro:cylinder_inertia>
    </link>

    <joint name="${prefix}_joint" type="continuous">
      <parent link="base_link"/>
      <child link="${prefix}_link"/>
      <origin xyz="0 ${y_reflect*0.0725} 0" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>
  </xacro:macro>

  <xacro:wheel prefix="left_wheel" x_reflect="-1" y_reflect="1" />
  <xacro:wheel prefix="right_wheel" x_reflect="-1" y_reflect="-1" />

  <!-- Caster Wheel -->
  <link name="caster_wheel">
    <visual>
      <geometry>
        <!-- [简化] 使用 Sphere 代替 Mesh -->
        <sphere radius="0.018"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.018"/>
      </geometry>
    </collision>
    <xacro:sphere_inertia mass="0.01" radius="0.018">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:sphere_inertia>
  </link>

  <joint name="caster_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="caster_wheel"/>
    <origin xyz="0.0185 0 -0.055" rpy="0 0 0"/>
  </joint>

  <!-- Gazebo Colors -->
  <gazebo reference="base_link">
    <material>Gazebo/White</material>
  </gazebo>
  <gazebo reference="left_wheel_link">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="right_wheel_link">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="caster_wheel">
    <material>Gazebo/Black</material>
    <mu1 value="0.001"/>
    <mu2 value="0.001"/>
  </gazebo>
  <gazebo reference="rpi_4_visual">
    <material>Gazebo/Green</material>
  </gazebo>

</robot>

