<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="lidarbot">

    <!-- ==================================================== -->
    <!-- 1. 定义 robot_name 参数 (默认为空，多车时传入 robot1 等) -->
    <!-- ==================================================== -->
    <xacro:arg name="robot_name" default=""/>

    <xacro:include filename="inertial_macros.xacro"/>
    <xacro:include filename="lidarbot_core.xacro"/>

    <!-- 根据参数选择控制方式 -->
    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control.xacro" />
    </xacro:unless>

    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="imu.xacro" />
    
</robot>

